@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

body, html {
    background-color: #f7f7f7;
    margin: 0;
    padding-top: 25px;
    height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.body-context {

    padding-left:10px;
    padding-right:10px;

}

h3 {
    border-bottom: 2px solid #1d1d1d;
    padding: 5px;
}

h2 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 200;
}

p.progres {
    letter-spacing: 5px;
    font-size: 15px;
    color: #696969;
}

p.intro {
    line-height: 150%;
    letter-spacing: .5px;
    padding: 5px;
}

span {
    font-size: 15px;
}

.introbutton {
    display: block;
    width: 100%;
    border: none;
    background-color: #1d1d1d;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.introbutton:hover {
        background-color: #fefefe;
        color: black;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
    }

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:10px;
}

.bg img {

    width:100%;

}

.column {
    width: 100%;
    min-height: 300px;
    padding: 5px;
    color: #1d1d1d;
}

.singlecolumn {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #1d1d1d;
    color: #fefefe;
    margin-bottom: 25px;
    margin-top: 25px;
    letter-spacing: 5px;
}

.column-2 {
    float: left;
    width: 50%;
    padding: 15px;
    min-height: 200px;
}

.column-2 img {

    margin-left:5%;

}

.column-3 {
    float: left;
    width: 33.33%;
    padding: 15px;
    min-height: 200px;
}

.column-3 img {
        width: 225px;
        height: 225px;
        border-radius: 125px;
        margin-left:10%;
    }

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .column, .column-3 {
        width: 100%;
    }
}

.navbar {
    overflow: hidden;
    background-color: #1d1d1d;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 7%;
    z-index: 9999999999;
    border-bottom: 2px solid #597d96;
}

.navbar a {
        float: left;
        min-height: 25px;
        display: block;
        color: #fefefe;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        z-index: 9999999999;
        font-size: 12px;
    }

.navbar a:hover {
            color: darkgrey;
            background-color: transparent;
        }

.progresscontainer {
    width: 100%;
    background-color: #ddd;
    height: 25px;
}

.progress {
    text-align: center;
    line-height: 28px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.backend {
    width: 10%;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 0;
}

.aesthetics {
    width: 20%;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 0;
}

.chara {
    width: 20%;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 0;
}

.project {
    width: 15%;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 0;
}

.userprofile {
    width: 20%;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 0;
}

.writing {
    width: 30%;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 0;
}

.worlddev {
    width: 0%;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 0;
}

footer.pretty {
    height: 25%;
    padding: 15px;
    border-top: 2px solid #597d96;
    background-color: #1d1d1d;
    color:white;
    font-size:11px;
    letter-spacing:5px;
}

.card {
    width: 33.33%;
    float:left;
}

.card img {

    border-radius:55%;

}

.title {
    color: grey;
    font-size: 18px;
}