@{
    ViewBag.Title = "About";
}

<div class="singlecolumn">About Fading Writers</div>

<p>

    <div class="column">

        Fading Writers in an, in development, site for writers that is slowly being built to be a full functional site
        by one (1) single developer with more time on their hands that they'd want to admit, but with a hard time motivating.

    </div>

</p>

